<div class="collection-item grey">Transformations</div>
<div class="row center">
  <div class="col-12 mt-2">

    <button (click)="createSelectNode()" class="btn waves-effect waves-light m-auto center-block" name="Select">Select</button>
  </div>
  <div class="col-12 mt-2">
    <button (click)="createCombineNode()" class="btn waves-effect waves-light m-auto" name="Combine">Combine </button>

  </div>
  <div class="col-12 mt-2">
    <button (click)="createGroupeByNode()" class="btn waves-effect waves-light m-auto"  name="GroupeBy">GroupeBy</button>

  </div>

</div>